/* .link-underline {
  border-bottom-width: 0;
  background-image: linear-gradient(transparent, transparent), linear-gradient(#fff, #fff);
  background-size: 0 3px;
  background-position: 0 100%;
  background-repeat: no-repeat;
  transition: background-size .2s ease-in-out;
}

.link-underline-black {
  background-image: linear-gradient(transparent, transparent), linear-gradient(#b98ece, #b98ece)
}

.link-underline:hover {
  background-size: 100% 3px;
  background-position: 0 100%
}

 */

li:after {
  display:block;
  content: '';
  border-bottom: solid 1px #b98ece;  
  transform: scaleX(0);  
  transition: transform 250ms ease-in-out;
}
li.fromLeft:after{ transform-origin: 100% 50%; }
li.fromRight:after{  transform-origin:   0% 50%; }
li.fromLeft:hover:after{ transform: scaleX(1); transform-origin:   0% 50%; }
li.fromRight:hover:after{ transform: scaleX(1); transform-origin: 100% 50%; }


